<main data-barba="container" data-barba-namespace="dashboard">
  <div class="container-fluid">
    <div class="dashboard">
      <h2>My reservation </h2>
      <div class="pokemons-dashboard">
        <% @bookings_booker.reverse.each do |booking| %>
          <div class='pokemon-card'>
            <div class="pokemon-img">
              <%=image_tag booking.pokemon.image_url, alt: booking.pokemon.name if booking.pokemon.image_url != nil%>
            </div>
            <div class='pokemon-infos'>
              <h2 class='text-center font-weight-bold name'><%= booking.pokemon.name %></h2>
              <div class='barre-home'><label for="determinate">HP:&nbsp; </label><progress id="determinate"  value="<%=booking.pokemon.hp%>" min="0" max="155"> 50% </progress></div>
            </div>
            <% if booking.status =='validated' %>
              <p class='pokemon-booking-validated'><%= booking.status.capitalize %></p>
            <% elsif booking.status =='pending' %>
              <p class='pokemon-booking-pending'><%= booking.status.capitalize %></p>
            <% else %>
              <p class='pokemon-booking-refused'><%= booking.status.capitalize %></p>
            <% end %>
            <div class="pokemon-stats-wrapper">
              <div class="footer-dashboard">
                <div style='text-justify: auto'>
                  <p><%= booking.start_date.strftime("From %d %B, %y") %> </p>
                  <p><%= booking.end_date.strftime("To %d %B, %y") %> </p>
                </div>
               <%nbd = (booking.end_date - booking.start_date).to_i/86400.to_i%>
               <%if nbd == 0 %>
                <% nbd = 1%>
               <% end %>
                <p> Total : <%=  (nbd * booking.pokemon.price).to_s(:delimited) %> € </p>
              </div>
            </div>
            <%= link_to pokemon_path(booking.pokemon) do %>
              <div class="more_info">More info</div>
            <% end%>
          </div>
        <% end %>
      </div>
      <h2>Mes pokemons - owner</h2>
      <div class="pokemons-dashboard">
      <%= link_to 'add a pokemon', new_pokemon_path, class: 'pokemon-card' %>
        <% @pokemons_owner.reverse.each do |pokemon| %>
          <div class='pokemon-card'>
            <div class="pokemon-img">
              <%=image_tag pokemon.image_url, alt: pokemon.name if pokemon.image_url != nil%>
            </div>
            <div class='pokemon-infos'>
              <h2 class='text-center font-weight-bold name'><%= pokemon.name %></h2>
              <div class='barre-home'><label for="determinate">HP:&nbsp; </label><progress id="determinate"  value="<%=pokemon.hp%>" min="0" max="155"> 50% </progress></div>
            </div>
            <%= link_to pokemon_path(pokemon) do %>
              <div class="more_info">More info</div>
            <% end%>
            <div class="pokemon-stats-wrapper">
              <div class="pokemon-stats pokemon-stats--types">
                <p><%= pokemon.types %></p>
                <p class="font-weight-bold">Type</p>
              </div>
              <div class="footer">
                <p> <%= pokemon.price %>€ </p>
              </div>
            </div>
          </div >
        <% end %>
      </div>
      <h2>Mes réservations - owner</h2>
      <div class="pokemons-dashboard">
        <% @bookings_owner.reverse.each do |booking| %>
          <div class='pokemon-card'>
            <div class="pokemon-img">
              <%=image_tag booking.pokemon.image_url, alt: booking.pokemon.name if booking.pokemon.image_url != nil%>
            </div>
            <div class='pokemon-infos'>
              <h2 class='text-center font-weight-bold name'><%= booking.pokemon.name %></h2>
              <div class='barre-home'><label for="determinate">HP:&nbsp; </label><progress id="determinate"  value="<%=booking.pokemon.hp%>" min="0" max="155"> 50% </progress></div>
            </div>
            <%= link_to pokemon_path(booking.pokemon) do %>
              <div class="more_info">More info</div>
            <% end%>
            <div class="pokemon-stats-wrapper">
              <div class="footer-dashboard">
                <div>
                  <p><%= booking.start_date.strftime("Du %m/%d/%Y") %> </p>
                  <p><%= booking.end_date.strftime("Au %m/%d/%Y") %> </p>
                </div>
                <%nbd = (booking.end_date - booking.start_date).to_i/86400.to_i%>
               <%if nbd == 0 %>
                <% nbd = 1%>
               <% end %>
                <p> Total : <%=  (nbd * booking.pokemon.price).to_s(:delimited) %> € </p>
              </div>
            </div>
            <div class="dashboard-status">
              <% if booking.status == 'pending' %>
                <%= simple_form_for(booking) do |f| %>
                  <%= f.input :status, collection: Booking::STATUS, label:false %>
                  <%= f.submit "Update", :class => "more_info-res"%>
                <% end %>
              <% else %>
                <p><%= booking.status %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
