<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Louer vos pokemons préférés pour une semaine, un week-end ...</h2>

<h3>Les plus demandés</h3>
<% @pokemons.each do |pokemon| %>
 <div> <%= link_to pokemon.name, pokemon_path(pokemon) %> </div>
<% end %>



les plus puissants
<%pokemon_powerful = @pokemons.order(attack: :desc).limit(5)%>
<% pokemon_powerful.each do |p| %>
<%= p.name %>
<%=image_tag p.image_url, alt: p.name if p.image_url != nil%>
<% end %>

les moins chers
<%pokemon_cheaper = @pokemons.order(:price).limit(5)%>
<% pokemon_cheaper.each do |p| %>
<%= p.name %> <%=image_tag p.image_url, alt: p.name if p.image_url != nil%>
<% end %>

