<main data-barba="container" data-barba-namespace="index">
  <div class="container-fluid">
    <div class="banner-home">
    <h1 class = 'text-center banner-title' style='text-shadow: 2px 2px 3px rgba(0,0,0,0.8)'>RENT YOUR FAVORITE POKEMONS FOR A DAY, A WEEK OR A EVEN A MONTH </h1>
      <div class="search">
        <%= form_tag pokemons_path, method: :get do %>
          <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a pokemon" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="index">
      <div class="cards-index">
        <% @pokemons.each do |pokemon| %>
          <% if current_user.id != pokemon.user_id %>
            <div class='pokemon-card'>
              <div class="pokemon-img">
                <%=image_tag pokemon.image_url, alt: pokemon.name if pokemon.image_url != nil%>
              </div>
              <div class='pokemon-infos'>
                <h2 class='text-center font-weight-bold name'><%= pokemon.name %></h2>
                <div class='barre-home'><label for="determinate">HP:&nbsp; </label><progress id="determinate"  value="<%=pokemon.hp%>" min="0" max="155"> 50% </progress>
                </div>
              </div>
              <div class="pokemon-stats-wrapper">
                <div class="pokemon-stats pokemon-stats--types">
                  <p><%=pokemon.types.gsub(/[^0-9a-z ]/i, '').split.join(' | ').titleize %></p>
                  <p class="font-weight-bold">Type</p>
                </div>
                <span class="wrapper-vertical"></span>
                <div class="pokemon-stats pokemon-stats--attack">
                  <p><%= pokemon.attack %></p>
                  <p class="font-weight-bold">Attack</p>
                </div>
                <span class="wrapper-vertical"></span>
                <div class="pokemon-stats pokemon-stats--def">
                  <p><%= pokemon.defense %></p>
                  <p class="font-weight-bold">Def</p>
                </div>
                <span class="wrapper-vertical"></span>
                <div class="pokemon-stats pokemon-stats--speed">
                  <p><%= pokemon.speed %></p>
                  <p class="font-weight-bold">Speed</p>
                </div>
              </div>
              <div class="wrapper-horizontal">
              </div>
              <div class="pokemon-stats pokemon-stats--abilities">
                <p class="font-weight-bold">Abilities</p>
                <p><%=pokemon.abilities.gsub(/[^0-9a-z ]/i, '').split.join(' | ').titleize %></p>
              </div>
              <div class="footer">
                <p> <%= pokemon.price %> € / day </p>
              </div>
              <%= link_to pokemon_path(pokemon) do %>
                <div class="more_info">More info</div>
              <% end%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
