<main data-barba="container" data-barba-namespace="new">
  <div class="new">
    <h1>Pokemons#new</h1>
    <p>Find me in app/views/pokemons/new.html.erb</p>
    <div class="container">
      <%= simple_form_for(@pokemon) do |f| %>
        <%= f.input :id, as: :select, collection: @pokemons.order(:name), prompt: "Choose a pokemon", input_html: {class: "js-example-basic-single"} %>
        <%= f.input :description%>
        <%= f.input :price %>
        <%= f.submit "Submit new pokemon", class: "morph_button" %>
      <% end %>
    </div>
  </div>
</main>
