<main data-barba="container" data-barba-namespace="show">
  <div class="show-show">
    <div class="pokeball"><%= image_tag "pokeball.png" %></div>
    <h1 class="text-center"> <%= @pokemon.name %> </h1>
    <div class="pokemon-show">
      <div class="pokemon-show-stats">
        <div class="col-lg-3 col-md-2  d-flex flex-wrap justify pokemon-show-stats-wrapper">
          <table class="table table-borderless">
            <tr>
              <td class="text-right font-weight-bold">HP</td>
              <td>
                <div class='barre-show'><label for="determinate"><%=@pokemon.hp%>&nbsp;</label><progress id="determinate"  value="<%=@pokemon.hp%>" min="0" max="200"><%=@pokemon.hp%></progress></div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Attack</td>
              <td>
                <div class='barre-show'><label for="determinate"><%=@pokemon.attack%>&nbsp;</label><progress id="determinate"  value="<%=@pokemon.attack%>" min="0" max="155"> <%=@pokemon.attack%></progress></div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Defence</td>
              <td>
                <div class='barre-show'><label for="determinate"> <%=@pokemon.defense%> &nbsp;</label><progress id="determinate"  value="<%=@pokemon.defense%>" min="0" max="100"> <%=@pokemon.defense%> </progress></div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Speed</td>
              <td>
                <div class='barre-show'><label for="determinate"> <%=@pokemon.speed%>&nbsp; </label><progress id="determinate"  value="<%=@pokemon.speed%>" min="0" max="100"> <%=@pokemon.speed%> </progress></div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Type</td>
              <td><%= @pokemon.types.gsub(/[^0-9a-z ]/i, '').split.join(' | ').titleize %></td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Abilities</td>
              <td><%= @pokemon.abilities.gsub(/[^0-9a-z ]/i, '').split.join(' | ').titleize %></td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Trainer</td>
              <td><%= @pokemon.user.username %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="pokemon-show-img">
        <%= image_tag @pokemon.image_url, alt: @pokemon.name %>
      </div>
      <div class="pokemon-show-booking">
        <%if current_user.id != @pokemon.user_id%>
          <%= simple_form_for [ @pokemon, @booking ] do |f| %>
            <%= f.input :start_date, as: :string, input_html: { id: 'start_date' } %>
            <%= f.input :end_date, as: :string, input_html: { id: 'end_date' }%>
            <%= f.submit "Confirm", class: "more_info-show" %>
          <% end %>
          <div class="container">
            <div class="total-price-show">
              <p>Reservation for <span id="total-days">0</span> days</p>
              <p>Total Price     <span id="total-price">0</span> € </p>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="trainer-show">
      <h3> Trainer: <%=@user.username%></h3>
      <h3><span id="day-price"><%= @pokemon.price %></span> € / day</h3>
    </div>
    <div class="description-show container" id="description">
      <h2 id="typed-string" data-controller="typed-js" class="text-center description" data-typed-js-text-value="<%=  @pokemon.description %>"><%=  @pokemon.description %></h2>
    </div>
    <span id='current-pokemon-reservation-dates' data-dates='<%= @pokemon.bookings.pending_and_validated.pluck(:start_date, :end_date).map(&:to_json) %>'></span>
  </div>
</main>
